{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p>
          An experimental proof of concept sponsored by DEFRA Circular Economy and Equal Experts May-June 2025.
        </p>
        <p>
          Our aim is to learn about how AI might reduce manual effort for policy teams when drafting communication lines.
        </p>
      </div>
    </div>
  </div>

{% endblock %}
